<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LataVelhaInc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="css/inicio.css">
</head>

<body>
    <div class="topbar">
        <ul id="links">
            <li class="linkTopoEsquerda">
                <a href="/"><span id="titulo">LataVelhaInc.</span></a>
            </li>
            <!--<li class="linkTopoDireita">
                <a href="/admin/" th:text=#{user.login}></a>
            </li>-->
            <li class="linkTopoDireita">
                <a href="/admin/">Teste admin</a>
            </li>
            <li class="linkTopoDireita">
                 <a th:href="@{/cliente/{id} (id=${1})}">Teste Cliente 1</a>
            </li>
            <li class="linkTopoDireita">
                <a th:href="@{/loja/{id} (id=${1})}">Teste Loja 1</a>
            </li>
            <li class="linkTopoDireita">
                <a th:href="@{/loja/{id} (id=${2})}">Teste Loja 2</a>
            </li>
            <li class="linkTopoDireita">
                <a th:href="@{/loja/{id} (id=${3})}">Teste Loja 3</a>
            </li>
        </ul>
    </div>
    <section id="carros">
        <div id="divFiltro">
            <input type="text" name="Filtro" placeholder="filtrar..." id="filtro">
            <span id="legendaN" th:text=#{filter.count}></span>
            <span id="numero">-</span>
        </div>
        <div th:each="veiculo: ${catalogo}">
            <section class="box" onclick="location.href='/login/'">
                <div class="card">
                    <div class="container">
                        <img th:src="@{${'/images/' + veiculo.id + '/1.jpg'}}" alt="Carro">
                    </div>
                    <ul class="dadosCarro">
                        <li class="modelo" th:text="${veiculo.modelo}"></li>
                        <li th:text="${veiculo.loja.nome}"></li>
                        <li th:text="${veiculo.quilometragem + 'km'}"></li>
                        <li class="oferta" th:text="${'R$' + veiculo.preco}"></li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
    <script src="js/filtro.js"></script>
</body>

</html>