<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{page.title}"></title>
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <div class="topbar">
        <ul>
            <li class="linkTopoEsquerda">
                <a href="/admin/">
                    <span id="titulo" th:text="#{topbar.title}"></span>
                    <span id="admin">admin</span>
                </a>
            </li>
            <li class="linkTopoDireita">
            	<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<input type="submit" name="login-submit" class="botaoLogout" value="Logout">
					</form>
				</div>
            </li>
        </ul>
    </div>
    <section id="crudLinks">
        <div class="crud" id="crud1">
            <a th:href="@{/admin/listarClientes}" th:text="#{customer.crudname}"></a>
        </div>
        <div class="crud" id="crud2">
            <a th:href="@{/admin/listarLojas}" th:text="#{store.crudname}"></a>
        </div>
    </section>
</body>

</html>