<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        <fmt:message key="page.title" />
    </title>
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="topbar">
        <ul>
            <li class="linkTopoEsquerda">
                <a href="admin">
                    <span id="titulo">
                        <fmt:message key="topbar.title" />
                    </span><span id="admin">admin</span>
                </a>
            </li>
            <li class="linkTopoDireita">
                <a href="logout">
                    <fmt:message key="user.logout" />
                </a>
            </li>
        </ul>
    </div>
    <section id="crudLinks">
        <div class="crud" id="crud1">
            <a href="listarClientes" th:text="#{customer.crudname}"></a>
        </div>
        <div class="crud" id="crud2">
            <a href="listarLojas" th:text="#{store.crudname}"></a>
        </div>
    </section>
</body>

</html>