<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{store.title}"></title>
	<link rel="stylesheet" href="../css/lojas.css">
	<link rel="stylesheet" href="../css/global.css">
</head>

<body>

	<div class="topbar">
		<ul>
			<li class="linkTopoEsquerda">
				<a href="/admin/">
					<span id="titulo" th:text="#{topbar.title}"></span>
					<span id="admin">admin</span>
				</a>
			</li>
			<li class="linkTopoDireita">
				<a href="/logout/" th:text="#{user.logout}"></a>
			</li>
		</ul>
	</div>
	<div align="center">
		<h1 class="label" th:text="#{store.welcome}"></h1>
	</div>

	<div align="center">
		<h3 th:text="#{store.title}"></h3>

		<table>
			<thead>
				<tr>
					<th th:text="#{store.id}"></th>
					<th th:text="#{store.name}"></th>
					<th th:text="#{store.email}"></th>
					<th th:text="#{store.password}"></th>
					<th th:text="#{store.cnpj}"></th>
					<th th:text="#{store.description}"></th>
					<th th:text="#{object.actions}"></th>
				</tr>
			</thead>

			<tbody>
				<div th:each="loja : ${listaLojas}">
					<tr>
						<td th:text="${loja.id}"></td>
						<td th:text="${loja.nome}"></td>
						<td th:text="${loja.email}"></td>
						<td th:text="${loja.senha}"></td>
						<td th:text="${loja.CNPJ}"></td>
						<td th:text="${loja.descricao}"></td>
						<td><a th:href="@{/admin/editarLoja{id} (id=${loja.id})}" th:text="#{object.update}"></a>
							&nbsp;&nbsp;&nbsp;&nbsp; 
							<a th:href="@{${'/admin/removerLoja?id=' + loja.id}}" th:text="#{object.delete}">
							<!-- onclick="return confirm('th:text=@{#{confirm.message}}')-->
							</a>
						</td>
					</tr>
				</div>
			</tbody>
		</table>
		<div class="adiciona">
			<a href="/admin/cadastrarLoja" th:text="#{store.add}"></a>
		</div>
	</div>
</body>

</html>