<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		<fmt:message key="store.title" />
	</title>
	<link rel="stylesheet" href="../css/lojas.css">
	<link rel="stylesheet" href="../css/global.css">
</head>

<body>

	<div class="topbar">
		<ul>
			<li class="linkTopoEsquerda">
				<a href="${pageContext.request.contextPath}/admin">
					<span id="titulo">
						<fmt:message key="topbar.title" />
					</span><span id="admin">admin</span>
				</a>
			</li>
			<li class="linkTopoDireita">
				<a href="${pageContext.request.contextPath}/logout">
					<fmt:message key="user.logout" />
				</a>
			</li>
		</ul>
	</div>
	<div class="" align="center">
		<h1 class="label">
			<fmt:message key="store.welcome" />
		</h1>
	</div>

	<div align="center">
		<h3>
			<fmt:message key="store.title" />
		</h3>

		<table>
			<thead>
				<tr>
					<th>
						<fmt:message key="store.id" />
					</th>
					<th>
						<fmt:message key="store.name" />
					</th>
					<th>
						<fmt:message key="store.email" />
					</th>
					<th>
						<fmt:message key="store.password" />
					</th>
					<th>
						<fmt:message key="store.cnpj" />
					</th>
					<th>
						<fmt:message key="store.description" />
					</th>
					<th>
						<fmt:message key="object.actions" />
					</th>
				</tr>
			</thead>

			<tbody>
				<div th:each="cliente : ${listaClientes}">
					<tr>
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.email}"></td>
						<td th:text="${cliente.senha}"></td>
						<td th:text="${cliente.CPF}"></td>
						<td th:text="${cliente.telefone}"></td>
						<td th:text="${cliente.sexo}"></td>
						<!--<td th:text="${cliente.data_nascimento}"></td>-->
						<td th:text="${cliente.role}"></td>
						<td><a href="/<%= contextPath%>/admin/edicaoLoja?id=${loja.id}">
								<fmt:message key="object.update" />
							</a>
							&nbsp;&nbsp;&nbsp;&nbsp; <a href="/<%= contextPath%>/admin/remocaoLoja?id=${loja.id}"
								onclick="return confirm('<fmt:message key=" confirm.message" />');">
							<fmt:message key="object.delete" /> </a>
						</td>
					</tr>
				</div>
			</tbody>
		</table>
		<div class="adiciona">
			<a href="/<%=contextPath%>/admin/cadastroLoja">
				<fmt:message key="store.add" />
			</a>
		</div>
	</div>
</body>

</html>