.list-container {
    margin: auto;
    margin-top: 20px;
    padding: 0 100px 0 100px;
}

#botao-delete{
	background-color: red;
}

#botao-delete:hover {
	background-color: rgb(202, 0, 0);
}

#botao-delete-inativo {
    background-color: #5f5555;
}

#botao-delete-inativo #balao {
	display: none;
    position: relative;
}

#botao-delete-inativo:hover #balao {
	display: block;
    position: absolute;
    margin-bottom: 40px;
}

#balao {
    background-color: #2b2b2b;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px;
}