<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{customer.register.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>

<body>

    <section class="layout-content">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><i class="oi oi-caret-right"></i>
                        <span th:text="#{veiculo.cadastrar.label}"></span>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary btn-md" th:href="@{/index}" role="button"> <span
                    class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span> <span
                    th:text="#{veiculo.listar.label}"></span>
            </a>
        </nav>

        <div class="container" id="cadastro">

            <!--<div th:replace="fragments/alert"></div>-->

            <form th:action="${veiculo.id == null} ? @{/veiculo/salvar} : @{/veiculo/editar}" th:object="${veiculo}"
                method="POST">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.model}" for="modelo"></label>
                        <input type="text" class="form-control" id="nome" placeholder="Modelo" th:field="*{modelo}"
                            th:classappend="${#fields.hasErrors('modelo')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{modelo}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.license}" for="placa"></label>
                        <input type="text" class="form-control" id="nome" placeholder="placa" th:field="*{placa}"
                            th:classappend="${#fields.hasErrors('placa')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{placa}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.chassis}" for="chassi"></label>
                        <input type="text" class="form-control" id="nome" placeholder="chassi" th:field="*{chassi}"
                            th:classappend="${#fields.hasErrors('chassi')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{chassi}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.mileage}" for="quilometragem"></label>
                        <input type="text" class="form-control" id="nome" placeholder="quilometragem" th:field="*{quilometragem}"
                            th:classappend="${#fields.hasErrors('quilometragem')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{quilometragem}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.year}" for="ano"></label>
                        <input type="text" class="form-control" id="nome" placeholder="ano" th:field="*{ano}"
                            th:classappend="${#fields.hasErrors('ano')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{ano}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.value}" for="preco"></label>
                        <input type="text" class="form-control" id="nome" placeholder="preco" th:field="*{preco}"
                            th:classappend="${#fields.hasErrors('preco')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{preco}"></span>
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label th:text="#{vehicle.description}" for="descricao"></label>
                        <input type="text" class="form-control" id="nome" placeholder="descricao" th:field="*{descricao}"
                            th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{descricao}"></span>
                        </div>                    
                    </div>
                </div>

                <input type="hidden" id="id" th:field="*{id}" />
                <div class="divSalvar">
                    <button id="salvar" type="submit" th:text="#{object.save}" class="btn btn-primary btn-sm"></button>
                </div>
            </form>
        </div>
    </section>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>

</html>