<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text=#{customer.bids.title}></title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/propostas.css">
</head>

<body>
	<div class="topbar">
		<ul id="links">
			<li class="linkTopoEsquerda">
				<a href="/">
					<span id="titulo">LataVelhaInc.</span>
				</a>
			</li>
			<li class="nomeTopoDireita">
				<span th:text=#{user.welcome}>Teste</span>
				<ul class="dropdown">
					<li>
            			<div sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="post">
								<input type="submit" name="login-submit" id="login-submit" value="Logout">
							</form>
						</div>
            		</li>
				</ul>
			</li>
			<li class="linkTopoDireita">
				<a th:href="@{/cliente/{id}/listaPropostas (id=${2})}" th:text=#{customer.bids}></a>
			</li>
		</ul>
	</div>
	<div align="center">
		<h1 class="label" th:text=#{bids.list}></h1>
	</div>
	<div align="center">
		<section>
			<table class="propostas">
				<thead>
					<tr>
						<th th:text=#{bids.date}></th>
						<th th:text=#{bids.photo}></th>
						<th th:text=#{bids.vehicle}></th>
						<th th:text=#{bids.vehicle.value}></th>
						<th th:text=#{bids.installment.plan}></th>
						<th th:text=#{store.entity}></th>
						<th th:text=#{bids.value}></th>
						<th th:text=#{bids.status}></th>
						<th class="acao"></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="proposta : ${propostas}">
						<td th:text="${proposta.data}"></td>
						<td>
							<img th:src="@{${'/images/' + proposta.veiculo.id + '/1.jpg'}}" alt="Carro" height="80px"
								width="120px">
						</td>
						<td th:text="${proposta.veiculo.modelo}"></td>
						<td th:text="${proposta.veiculo.preco}"></td>
						<td th:text="${proposta.parcelamento}"> </td>
						<td th:text="${proposta.loja.nome}"></td>
						<td th:text="${proposta.valor}"></td>
						<td class="estado">
							<div th:switch="${proposta.estado}">
								<p th:case="'ACEITO'" th:text=#{bids.accepted}></p>
								<p th:case="'ABERTO'" th:text=#{bids.open}></p>
								<p th:case="*" th:text=#{bids.rejected}></p>
							</div>
						</td>
						<td class="acao" th:if="${proposta.estado} == 'ABERTO'">
							<a id="negar" th:href="@{/proposta/removerProposta/{id} (id=${proposta.id})}"
								th:text=#{bids.cancel}></a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<script src="/js/cor.js"></script>
</body>

</html>